@page
@model StudyCase.Pages.ExcepCust.IndexCust01Model

@{
    Layout = "Shared/_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No Customer</th>
                    <th>Nama Customer</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Last Update</th>
                    <th>Updated By</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>@item.CustomerNumber</td>
                        <td>@item.CustomerName</td>
                        <td>@item.CustomerDate.ToString("dd-MM-yyyy : hh:mm") </td>
                        <td>@item.TindakLanjut.Description</td>
                        <td>@item.Notes</td>
                        <td>@item.LastUpdatedAt.ToString("dd-MM-yyyy")</td>
                        <td>@item.LastUpdatedBy</td>
                        <td>
                            <a asp-page="./DetailCust01" asp-route-custNo="@item.CustomerNumber" asp-route-dataDate="@item.CustomerDate.ToString("dd-MM-yyyy")">Detail</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>